@charset "utf-8";

.introduce-section-01 {
    padding-top: 100px;
    height: 400px;
    background: url(../../visual/images/solution04.jpg) 50% 80% no-repeat;
    background-size: cover;
}
/* introduce-section 공통 */
.introduce-section {
    padding: 100px 0;
}
.introduce-section .inner {
    max-width: 1400px;
    margin: 0 auto;
    overflow: hidden;
}

/* introduce-section-02 Vision */
.introduce-section-02 .inner h2 {
    font-size: 36px;
    text-align: center;
    color: #333;
}
.introduce-section-02 .inner .description {
    font-size: 20px;
    margin-top: 30px;
    text-align: center;
    line-height: 1.43em;
}
.introduce-section-02 .inner .content-box-wrap {
    margin-top: 100px;
    display: flex;
}
.introduce-section-02 .inner .content-box-wrap .content-box {
    width: 25%;
    text-align: center;
    padding: 20px;
    font-size: 20px;
    color: #444;
}
.introduce-section-02 .inner .content-box-wrap .content-box .content-box-inner {
    border: 1px solid #ddd;
    padding: 80px 20px;
}
.introduce-section-02 .inner .content-box-wrap .content-box .img-box {

}
.introduce-section-02 .inner .content-box-wrap .content-box .img-box img {
    display: block;
    width: 80px;
    height: 80px;
    margin: 0 auto;
}
.introduce-section-02 .inner .content-box-wrap .content-box strong {
    display: block;
    margin: 25px 0 10px;
}

/* introduce-section-03 Mission */
.introduce-section-03 {
    background-color: #f4f7f8;
}
.introduce-section-03 .inner h2 {
    font-size: 36px;
    text-align: center;
    color: #333;
}
.introduce-section-03 .inner .description {
    font-size: 20px;
    margin-top: 30px;
    text-align: center;
    line-height: 1.43em;
}
.introduce-section-03 .inner .content-box-wrap {
    margin-top: 100px;
    display: flex;
}
.introduce-section-03 .inner .content-box-wrap .content-box {
    width: 25%;
    text-align: center;
    padding: 20px;
    font-size: 20px;
    color: #444;
}
.introduce-section-03 .inner .content-box-wrap .content-box .content-box-inner {
    border: 1px solid #ddd;
    padding: 80px 20px;
}
.introduce-section-03 .inner .content-box-wrap .content-box .img-box {

}
.introduce-section-03 .inner .content-box-wrap .content-box .img-box img {
    display: block;
    width: 80px;
    height: 80px;
    margin: 0 auto;
}
.introduce-section-03 .inner .content-box-wrap .content-box strong {
    display: block;
    margin: 25px 0 10px;
}

/* introduce-section-04 History */
.introduce-section-04 {

}
.introduce-section-04 .inner h2 {
    font-size: 36px;
    text-align: center;
    color: #333;
}
.introduce-section-04 .inner .description {
    font-size: 20px;
    margin-top: 30px;
    text-align: center;
    line-height: 1.43em;
}
.introduce-section-04 .inner .content-box-wrap {
    margin-top: 80px;
    display: flex;
}
.introduce-section-04 .inner .content-box-wrap .content-box {
    width: 20%;
    text-align: center;
    padding: 10px;
    font-size: 20px;
    color: #444;
}
.introduce-section-04 .inner .content-box-wrap .content-box .content-box-inner {
    padding: 20px;
}
.introduce-section-04 .inner .content-box-wrap .content-box .content-box-inner .year {
    border: 2px solid #049dbf;
    border-radius: 22px;
    background-color: #049dbf;
    padding: 10px 0;
    color: #fff;
}
.introduce-section-04 .inner .content-box-wrap .content-box .content-box-inner strong {
    display: block;
    margin: 25px 0 10px;
    font-size: 18px;
    text-decoration: underline 3px #f2c84b;
    line-height: 1.43em;
}
.introduce-section-04 .inner .content-box-wrap .content-box .content-box-inner ul li {
    margin-top: 5px;
    font-size: 16px;
    line-height: 1.43em;
}

/* introduce-section-05 Company Structure */
.introduce-section-05 {
    background-color: #f4f7f8;
}
.introduce-section-05 .inner h2 {
    font-size: 36px;
    text-align: center;
    color: #333;
}
.introduce-section-05 .inner .description {
    font-size: 20px;
    margin-top: 30px;
    text-align: center;
    line-height: 1.43em;
}
.introduce-section-05 .inner .content-box-wrap {
    margin-top: 100px;
    display: flex;
}
.introduce-section-05 .inner .content-box-wrap .content-box {
    width: 33.33333333333%;
    text-align: center;
    padding: 20px;
    font-size: 20px;
    color: #444;
}
.introduce-section-05 .inner .content-box-wrap .content-box .content-box-inner {
    border: 1px solid #ddd;
    padding: 80px 20px;
}
.introduce-section-05 .inner .content-box-wrap .content-box .img-box {

}
.introduce-section-05 .inner .content-box-wrap .content-box .img-box img {
    display: block;
    width: 80px;
    height: 80px;
    margin: 0 auto;
}
.introduce-section-05 .inner .content-box-wrap .content-box strong {
    display: block;
    margin: 25px 0 10px;
}
/* introduce-section-06 C.I */
.introduce-section-06 {
    border-bottom: 1px solid #ddd;
}
.introduce-section-06 .inner h2 {
    font-size: 36px;
    text-align: center;
    color: #333;
}
.introduce-section-06 .inner .description {
    font-size: 20px;
    margin-top: 30px;
    text-align: center;
    line-height: 1.43em;
}
.introduce-section-06 .inner .img-box {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    box-shadow: 7px 7px 14px rgba(0,0,0,0.1);
    padding-top: 45px;
    margin: 60px auto 20px;
}
.introduce-section-06 .inner .img-box img {
    width: 100%;
}

@media screen and (max-width: 1200px) {
    .introduce-section-04 .inner .content-box-wrap {
        display: block;
    }
    .introduce-section-04 .inner .content-box-wrap .content-box {
        width: 50%;
        float: left;
    }
}

@media screen and (max-width: 1024px) {
    .introduce-section-01 {
        padding-top: 80px;
        padding-left: 80px;
        height: 300px;
    }
    .introduce-section-02 .inner h2,
    .introduce-section-03 .inner h2,
    .introduce-section-04 .inner h2,
    .introduce-section-05 .inner h2,
    .introduce-section-06 .inner h2 {
        font-size: 26px;
    }
    .introduce-section-02 .inner .description,
    .introduce-section-03 .inner .description,
    .introduce-section-04 .inner .description,
    .introduce-section-05 .inner .description,
    .introduce-section-06 .inner .description {
        padding: 0 20px;
        font-size: 16px;
    }
}

@media screen and (max-width: 768px) {
    .introduce-section {
        padding: 60px 0;
    }
    .introduce-section-01 {
        padding-top: 60px;
        padding-left: 40px;
        height: 250px;
    }
    .introduce-section-02 .inner h2,
    .introduce-section-03 .inner h2,
    .introduce-section-04 .inner h2,
    .introduce-section-05 .inner h2,
    .introduce-section-06 .inner h2 {
        font-size: 22px;
    }
    .introduce-section-02 .inner .description,
    .introduce-section-03 .inner .description,
    .introduce-section-04 .inner .description,
    .introduce-section-05 .inner .description,
    .introduce-section-06 .inner .description {
        padding: 0 20px;
        font-size: 14px;
    }
    .introduce-section-04 .inner .content-box-wrap {
        margin-top: 40px;
    }
    .introduce-section-04 .inner .content-box-wrap .content-box {
        padding: 20px;
    }
    .introduce-section-04 .inner .content-box-wrap .content-box .content-box-inner {
        padding: 0;
    }
    .introduce-section-04 .inner .content-box-wrap .content-box .content-box-inner .year {
        font-size: 18px;
    }
    .introduce-section-04 .inner .content-box-wrap .content-box .content-box-inner strong {
        margin: 15px 0 10px;
        font-size: 14px;
    }
    .introduce-section-04 .inner .content-box-wrap .content-box .content-box-inner ul li {
        font-size: 12px;
    }
}

@media screen and (max-width: 767px) {
    .introduce-section-06 .inner .img-box {
        width: 260px;
        height: 260px;
        padding-top: 40px;
        margin: 40px auto 20px;
    }
}